

table.pika-table { margin-bottom: 0 !important}

.pika-table th { background: none; }
.pika-table td { border:0 solid;}

.datetime-picker {
    position: relative;
    display:inline-block;
    padding: 0;
}

.datetime-picker.picker-pos-right .pika-single { right:0; }
.datetime-picker.picker-pos-bottom .pika-single { bottom:100%; }

.datetime-picker>i {
    position: absolute;
    width:22px;
    height: 22px;
    top:50%;
    right: 4px;
    margin-top: -11px;
    /*border:1px solid #111;*/
    border-radius:11px;
    background: #777;
    color:#fff;
    text-align:center;
    font-size: 24px;
    line-height: 18px;
    cursor: pointer;
    display: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;

    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.datetime-picker-clear-allowed>input { padding-right: 44px;}
.datetime-picker-clear-allowed>i { display: block; }


